<p id="notice"><%= notice %></p>

<p>
  <strong>Com:</strong>
  <%= @search.com %>
</p>

<p>
  <strong>Tec:</strong>
  <%= @search.tec %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @search.exp %>
</p>

<p>
  <strong>Ope:</strong>
  <%= @search.ope %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
