
<!DOCTYPE html> 
<html>

   <head>
      <title>carrerjet</title>
   </head>


<!--          
         <tr>
            <td colspan = "2" bgcolor = "yellow" width = "100%" height="90px">


               <h1 style="text-align: center;text-shadow:2px 2px #ff0000; "><b><u><i>WELCOME TO CARRIERJET </i></u><b></h1><br>
                <h2 style="text-align: center"><b>EVERY CHALLENGES BECOMES AN OPPORTUNITY WHEN WE ARE EXITED ABOUT IT</b></h1>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
 
               
            </td>
         </tr> -->
<body id="image" bgcolor = "#F1C40F  " width = "100%" height = "100%" > </body>
      
<tr>
<!--            <td id="image" bgcolor = "#F1C40F  " width = "100%" height = "100%" >
 -->
<!--                          <%=  link_to '', suggestionboxes_path %>  <br>
 -->
<!-- 
    <% if !user_signed_in? %>
      <%= link_to 'LOGIN', new_user_session_path %> <br>
      <%= link_to 'SIGNUP', new_user_registration_path %> 
   <% end %>
   <% if user_signed_in? %>
   <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete)  %>
   <% end %>
 -->
 <br>
 <h1 style="text-shadow:2px 2px #ff0000;  "> <u>  CARRIER REFERNCE PROGRAM  </u></h1> <br>
<!--  <hr height="20px" color="green">
 -->  <h1 style="text-shadow:2px 2px #ff0000;  ">    <%= link_to 'USER', homepages_path %> </h1> <br>
 <br> 
<!--    <hr height="20px" color="green">
 -->
   <h1 style="text-shadow:2px 2px #ff0000;  ">    <%= link_to 'ADMIN', homepages_path %> </h1> <br>


            </td>
           

         </tr>
        
<!--         </div>
 -->      
  

  </body>
</html>




