<%= form_with(model: findjob, local: true) do |form| %>
  <% if findjob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(findjob.errors.count, "error") %> prohibited this findjob from being saved:</h2>

      <ul>
      <% findjob.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :tec %>
    <%= form.select:tec,  @jobs%>
  </div>

  <div class="field">
    <%= form.label :exp %>
    <%= form.number_field :exp, id: :search_exp %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
