<p id="notice"><%= notice %></p>

<p>
  <strong>Tec:</strong>
  <%= @findjob.tec %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @findjob.exp %>
</p>

<%= link_to 'Edit', edit_findjob_path(@findjob) %> |
<%= link_to 'Back', findjobs_path %>
